.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.spinner {
  margin: 200px auto;
  width: 40px;
  height: auto;
  color: rgba(0, 0, 0, 0.3);
}

.table {
  margin: 100px auto;
  width: 1500px;
}

.clickable {
  cursor: pointer;
}

.faint {
  margin: 30px auto;
  font-size: 30px;
  color: rgba(0, 0, 0, 0.3);
}

.back {
  margin: 10px auto 20px auto;
}
