.table {
  margin: 100px auto;
  width: 1500px;
}

.spinner {
  margin: 200px auto;
  width: 40px;
  height: auto;
  color: rgba(0, 0, 0, 0.3);
}

.zero-stud-msg h1 {
  margin: 200px auto;
  font-size: 50px;
  color: rgba(0, 0, 0, 0.3);
}
